{% extends "news/base.html" %}
{% block content %}
	<div id="starting">
        <div class="row">
          <h1>News</h1>
          <div class="form-inline">
          	<input class="form-control" type="text" placeholder="Search" v-model="search_term" aria-label="Search" >
          	<button class="btn" v-on:click.prevent="getItems()" >Search</button>
          </div>
          <ul v-for="article in news">
          	<li >${article.title}</li>
          	<li >${article.rss}</li>
          	<li>${article.pubDate}</li>
            <li><img v-bind:src="article.image"></li>
          	<li>${article.description}</li>
          	<li><a v-bind:href="article.link">${article.link}</a></li>
          </ul>
        </div>
    </div>
{% endblock content %}