body {
	background: #fafafa;
}
.navbar{
	width: 100%;
}
.form-control{
	padding-left: 10px;
	margin-right: 10px;
}
.pagination{
	width: 20%;
	margin-left: 40%;
	margin-right: 40%;
}

.date {
	font-size: 1.2em;
}
#art-image{
	width: 60%;
	float: left;
}
.art-description{
	width: 40%;
	padding: 10px;
	float: right;
}